
header{
    background-color: aqua;
    background-image: url(./bg.jpg);
    background-size: cover;
    
}

.heading1{
    margin: 0px;
    
}

.heading1 h1{
    font-size: 63px;
}

.head1{
    margin-right: 0px;
    margin-left: 0px;
    
}



h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

a:hover{
    color: aqua;
    text-decoration-line: none;
    transition: 0.3s ;
}

a{
    color: black;
}



.me img{
    width: 50%;
    height: auto;
}

.me{
    text-align: center;
}

.heading2{
    background-color: black;
}

h2{
    color: white;
}

.navi ul{
    display: flex;
    list-style: none;
    display: table;
    padding-left: 0px;
}
  
  
.navi li{
    padding:10px;
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
}

  
.row{
      margin-bottom: 30px;
}

.fbg{
      height: 800px;
      width: cover;

}

/* ヘッダースマホ対応 */
@media (max-width: 540px) {
    /* 横幅が600px以上の場合にヘッダー部分に適用するスタイル */
    .fbg{
        height: 500px;
        width: 100%;
    }
    .navi ul{
        list-style: none;
        padding-left: 0px;
    }
    .navi li{
        padding:10px;
        font-size: 24px;
        display:block;
    }
}

p,section{
 font-size: 18px;
}

.car{
    margin-bottom: 30px;
}

.about{
    margin-bottom: 30px;
}

.skills{
    display: flexbox;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
}

.skill{
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    width: 200px;
}


.forms{
    font-size: 18px;
}

.form{
    width: 300px;
}

.formcont{
    width: 300px;
    height: 300px;
}

.forms{
    padding-bottom: 30px;
}


.formtext{
    text-align: center;
}


.fc{
    text-align: center;
}

.git{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

footer{
    text-align: center;
    margin-bottom:0px;
    background-color: whitesmoke;
}



/* skillset */


.graph{
    height: 30px;
    width: 80%;
    border:1px solid black;
    display: flex;
    margin: auto;
    border-radius: 7px;
}

.gline1{
    height: 100%;
    width: 80%;
    background-color:black;
    border-radius: 7px;
    /* border-top-right-radius: 7px;
    border-bottom-right-radius: 7px; */
}

.htmlskill{
    margin: auto;
    padding-top: 20px;
    color:black;
}


.ngline{
    width: auto;
}


.chart{
    /* background-color: lawngreen; */
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
}


.codeskill{
    display: flex;
}

/* glineとthermometerだけは言語ごとに変わる */



.gline2{
    height: 100%;
    width: 80%;
    background-color:black;
    border-radius: 7px;
}

.cssskill{
    margin: auto;
    padding-top: 20px;
    color:black;
}

.gline3{
    height: 100%;
    width: 50%;
    background-color:black;
    border-radius: 7px;
}

.phpskill{
    margin: auto;
    padding-top: 20px;
    color:black;
}

.gline4{
    height: 100%;
    width: 40%;
    background-color:black;
    border-radius: 7px;
}


.jsskill{
    margin: auto;
    padding-top: 20px;
    color:black;
}

.gline5{
    height: 100%;
    width: 60%;
    background-color:black;
    border-radius: 7px;
}

.btskill{
    margin: auto;
    padding-top: 20px;
    color:black;
}


.gline6{
    height: 100%;
    width: 30%;
    background-color:black;
    border-radius: 7px;
}

.laraskill{
    margin: auto;
    padding-top: 20px;
    color:black;
}

.gline8{
    height: 100%;
    width: 40%;
    background-color:black;
    border-radius: 7px;
}

.wpskill{
    margin: auto;
    padding-top: 20px;
    color:black;
}


.gline7{
    height: 100%;
    width: 100%;
    background-color:black;
    border-radius: 7px;
}

.paskill{
    margin: auto;
    padding-top: 20px;
    color:black;
}

/* experience */

.exbase{
    background: rgba(0,0,0,0.3);
    color: white;
    border-radius: 7px;
    text-align: center;
    padding: 30px;
}

.excount{
    font-size: 42px;
}


.personalex :hover{
    background-color: cyan;
    color: black;
    transition: 0.3s ;
}

.studyep :hover{
    background-color: cyan;
    color: black;
    transition: 0.3s ;
}

.salesep :hover{
    background-color: cyan;
    color: black;
    transition: 0.3s ;
}

.personalex{
    margin-top: 20px;
}

.studyep {
    margin-top: 20px;
}

.salesep{
    margin-top: 20px;
}

/* product */

.prods{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod{
    padding:5px 20px;
    cursor: pointer;
}

.prod p{
    font-size: 24px;
}

.ports{
    display: flex;
}

.port{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.port img{
    height: auto;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

/*  */

.testp{
    height: 100%;
    width: auto;
}

/* 横幅が922px以下の場合に作品の要素に適用するスタイル */
.ptitle{
    font-size: 45px;
    position: absolute;
    top: 30px;
    left:60px;
}

/* 横幅が922px以下の場合に作品の要素に適用するスタイル */
.pdesc{
    font-size: 24px;
    position: absolute;
    top: 130px;
    left:70px;
}


@media (min-width: 922px) {
    /* 横幅が922px以上の場合に作品の要素に適用するスタイル */
    .ptitle{
        font-size: 24px;
        position: absolute;
        top: 30px;
        left:40px;
    }

    .pdesc{
        font-size: 18px;
        position: absolute;
        top: 100px;
        left:50px;
    }
}

/*  */

.icon{
    margin-right: 10px;
    margin-left: 10px;
}


/* ローディングアニメーション */
@keyframes scaleout{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

.anime{
    height: 100px;
    width: 100px;
    background-color: cyan;
    margin: 200px auto;
    animation: scaleout ;
    animation-duration: 3s;
}

.hide{
    display: none;
}

/*フェードイン*/
/*左から右にフェードイン*/
.left-to-right{
    opacity: 0.1;
    transform: translateX(-20px);
    transition: all 1s;
  }
  
.left-to-right.scrollin {
    opacity: 1;
    transform: translate(0);
}

/* 右から左にフェードイン */
.right-to-left{
  opacity: 0.1;
  transform: translateX(20px);
  transition: all 1s;
}

.right-to-left.scrollin {
  opacity: 1;
  transform: translateX(0);
}

/*下から上にフェードイン*/
.down-to-top {
  opacity: 0.1;
  transform: translateY(20px);
  transition: all 1s;
}

.down-to-top.scrollin {
  opacity: 1;
  transform: translateY(0);
}

/*  */




































/*  */